VITE_LINKEDIN_URL=https://linkedin.com/in/alok-kumar-dwivedi
VITE_GITHUB_URL=https://github.com/alokdwivedi07
VITE_RESUME_URL=https://drive.google.com/file/d/1ho6nFI12dQkOAAlpRPZIs22nIs5EqPlt/view?usp=drivesdk
VITE_PORTFOLIO_EMAIL=alokdwivedi0707@gmail.com
VITE_PHONE_NUMBER=8922092438
VITE_LOCATION=Sultanpur Uttar Pradesh India
